@page
@model IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="text-center">
    <h1 class="display-4">Onboarding with ME ID and Temporary Access Pass</h1>
    <p>Signin <a href="https://aka.ms/mysecurityinfo">https://aka.ms/mysecurityinfo</a></p>
</div>


<div>

    <p>From Microsoft <a href="
https://learn.microsoft.com/en-us/azure/active-directory/authentication/howto-authentication-temporary-access-pass#use-a-temporary-access-pass">docs</a>.
    </p>

    <hr />

    <ol>
        <li>Open a web browser to <a href="https://aka.ms/mysecurityinfo">https://aka.ms/mysecurityinfo</a></li>
        <li>Enter the UPN of the account you created the Temporary Access Pass for, such as tapuser@contoso.com.</li>
        <li>If the user is included in the Temporary Access Pass policy, they'll see a screen to enter their Temporary Access Pass.
</li>
        <li>Enter the Temporary Access Pass that was displayed in the Azure portal.</li>
    </ol>
</div>






